**KNN Algorithm**

In [ ]:
Weather=['Sunny','Sunny','Overcast','Rainy','Rainy','Rainy','Overcast','Sunny','Sunny','Rainy','Sunny','Overcast','Overcast','Rainy']
Temperature=['Hot','Hot','Hot','Mild','Cool','Cool','Cool','Mild','Cool','Mild','Mild','Mild','Hot','Mild']
Play=['No','No','Yes','Yes','Yes','No','Yes','No','Yes','Yes','Yes','Yes','Yes','No']

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {
         "Weather" : Weather,
        "Temperature" : Temperature,
        "Play" : Play
    }
)
df.head()

    Weather Temperature Play
0     Sunny         Hot   No
1     Sunny         Hot   No
2  Overcast         Hot  Yes
3     Rainy        Mild  Yes
4     Rainy        Cool  Yes

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
Weather_encoded = le.fit_transform(Weather)
Temperature_encoded = le.fit_transform(Temperature)
label_encoded = le.fit_transform(Play)
features = list(zip(Weather_encoded,Temperature_encoded))

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors = 3)
model.fit(features,Play)
predicted = model.predict([[0,2]])
print(predicted)

['Yes']

In [ ]:
from math import sqrt

In [ ]:
X1 = [7,7,3,1]
X2 = [7,4,4,4]
result= ["Bad","Bad","Good","Good"]

In [ ]:
print("X1 : ",X1)
print("X2 : ",X2)
print("result : ",result)
features = list(zip(X1,X2))
print("features : ",features)

X1 :  [7, 7, 3, 1]
X2 :  [7, 4, 4, 4]
result :  ['Bad', 'Bad', 'Good', 'Good']
features :  [(7, 7), (7, 4), (3, 4), (1, 4)]

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=3,metric = "euclidean")
model.fit(features,result)
predicted = model.predict([[3,4]])
print(predicted)

['Good']

**NA√èVE BAYES ALGORITHM**

In [ ]:
Weather=['Sunny','Sunny','Overcast','Rainy','Rainy','Rainy','Overcast','Sunny','Sunny','Rainy','Sunny','Overcast','Overcast','Rainy']
Temperature=['Hot','Hot','Hot','Mild','Cool','Cool','Cool','Mild','Cool','Mild','Mild','Mild','Hot','Mild']
Play=['No','No','Yes','Yes','Yes','No','Yes','No','Yes','Yes','Yes','Yes','Yes','No']

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {
        "Weather" :Weather,
         "Temperature" : Temperature,
        "Play" : Play
    }
)
df

     Weather Temperature Play
0      Sunny         Hot   No
1      Sunny         Hot   No
2   Overcast         Hot  Yes
3      Rainy        Mild  Yes
4      Rainy        Cool  Yes
5      Rainy        Cool   No
6   Overcast        Cool  Yes
7      Sunny        Mild   No
8      Sunny        Cool  Yes
9      Rainy        Mild  Yes
10     Sunny        Mild  Yes
11  Overcast        Mild  Yes
12  Overcast         Hot  Yes
13     Rainy        Mild   No

In [ ]:
from sklearn import preprocessing

In [ ]:
le = preprocessing.LabelEncoder()
Weather_encoded = le.fit_transform(Weather)
Temperature_encoded = le.fit_transform(Temperature)
Play_encoded = le.fit_transform(Play)
features = list(zip(Weather_encoded, Temperature_encoded))

In [ ]:
from sklearn.naive_bayes import GaussianNB

In [ ]:
model  =GaussianNB()
model.fit(features,Play_encoded)
predict = model.predict([[0,2]])
print("Output : ", predict)

Output :  [1]

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('/content/NB.xlsx')

In [ ]:
df.head()

           age  income student credit_rating buys_computer
0        youth    high      no          fair            no
1        youth    high      no     excellent            no
2  middle_aged    high      no          fair           yes
3       senior  medium      no          fair           yes
4       senior     low     yes          fair           yes

In [ ]:
age_encoded = le.fit_transform(df["age"])
income_encoded = le.fit_transform(df['income'])
student_encoded = le.fit_transform(df['student'])
credit_rating_encoded = le.fit_transform(df['credit_rating'])

In [ ]:
features = list(zip(age_encoded, income_encoded, student_encoded, credit_rating_encoded))
label = df["buys_computer"]

In [ ]:
df_1 = pd.DataFrame({
    'age' : age_encoded,
    'income' : income_encoded,
    'student' : student_encoded,
    'credit_rating' : credit_rating_encoded
})
df_1.head()

   age  income  student  credit_rating
0    2       0        0              1
1    2       0        0              0
2    0       0        0              1
3    1       2        0              1
4    1       1        1              1

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [ ]:
from sklearn.naive_bayes import GaussianNB

In [ ]:
model = GaussianNB()
model.fit(features, label)

GaussianNB()

In [ ]:
precdiction = model.predict([[2,2,1,1]])
print(precdiction)

['yes']

**DECISION TREE**

In [ ]:
height = ['6.00', '5.92', '5.58', '5.92', '5.00', '5.50', '5.42', '5.75']
weight = ['180', '190', '170', '165', '100', '150', '130', '150']
foot_size = ['12', '11', '12', '10', '6', '8', '7', '9']
gender = ['Male','Male','Male','Male','Female','Female','Female','Female']

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {
         "height" : height,
        "weight" : weight,
        "foot_size" : foot_size,
        "gender" : gender
    }
)
df.head()

  height weight foot_size  gender
0   6.00    180        12    Male
1   5.92    190        11    Male
2   5.58    170        12    Male
3   5.92    165        10    Male
4   5.00    100         6  Female

In [ ]:
from sklearn import preprocessing

In [ ]:
# le = preprocessing.LabelEncoder()
# height_encoded = le.fit_transform(height)
# weight_encoded = le.fit_transform(weight)
# foot_size_encoded = le.fit_transform(foot_size)
# gender_encoded = le.fit_transform(gender)

In [ ]:
features = list(zip(height, weight, foot_size))

In [ ]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [ ]:
model = DecisionTreeClassifier()
model.fit(features,gender)

DecisionTreeClassifier()

In [ ]:
predicted = model.predict([[5.56,146,8]])
print(predicted)

['Female']

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/Tree.csv')

In [ ]:
df

   Gender  Height  Weight  Foot_Size
0    male    6.00     180         12
1    male    5.92     190         11
2    male    5.58     170         12
3    male    5.92     165         10
4  female    5.00     100          6
5  female    5.50     150          8
6  female    5.42     130          7
7  female    5.75     150          9

In [ ]:
from sklearn import preprocessing

In [ ]:
le = preprocessing.LabelEncoder()

height_encoded = le.fit_transform(df['Height'])
weight_encoded = le.fit_transform(df['Weight'])
foot_size_encoded = le.fit_transform(df['Foot_Size'])
#gender_encoded = le.fit_transform(df['Gender'])

In [ ]:
features = list(zip(height_encoded, weight_encoded,foot_size_encoded ))
label = df['Gender']

In [ ]:
df_1 = pd.DataFrame({
    'Height' : height_encoded,
    'Weight' : weight_encoded,
    'Foot_Size' : foot_size_encoded,

})
df_1.head()

   Height  Weight  Foot_Size
0       6       5          6
1       5       6          5
2       3       4          6
3       5       3          4
4       0       0          0

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
model = DecisionTreeClassifier()
model.fit(features , label)

DecisionTreeClassifier()

In [ ]:
predicted = model.predict([[3,4,6]])
print(predicted)

['male']

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/Tree.csv')

In [ ]:
df.head()

   Gender  Height  Weight  Foot_Size
0    male    6.00     180         12
1    male    5.92     190         11
2    male    5.58     170         12
3    male    5.92     165         10
4  female    5.00     100          6

In [ ]:
 df_1 = pd.DataFrame(
    {
         "Height" : height,
        "Weight" : weight,
        "Foot_size" : foot_size,
        "Gender" : gender
    }
)
df_1.head()

  Height Weight Foot_size  Gender
0   6.00    180        12    Male
1   5.92    190        11    Male
2   5.58    170        12    Male
3   5.92    165        10    Male
4   5.00    100         6  Female

In [ ]:

features = list(zip(height, weight, foot_size))
label = df["Gender"]

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
model = DecisionTreeClassifier()
model.fit(features,label)

DecisionTreeClassifier()

In [ ]:
z= input("Enter Height : " )
k= input("Enter Weight : " )
l = input("Enter Foot_size : ", )
predicted = model.predict([[z,k,l]])
print(predicted)

Enter Height : 6
Enter Weight : 167
Enter Foot_size : 12
['male']